---
layout: base.njk
title: Minimal boilerplate for new projects built with Eleventy, Tailwind and PostCSS
---

<main id="main" class="p-4">
    <h1 className="font-bold text-lg">jonnii.com</h1>
    <p>
        Hi, I'm Jonathan Goldman - an <span class="border-b border-dashed">average developer</span> based in NYC.
    </p>
    <ul>
        <li>twitter</li>
        <li>github</li>
        <li>linkedin</li>
    </ul>
</main>