---
layout: base.njk
title: jonnii.com
---

<main id="main" class="p-4 text-white font-sans">
    <span class="text-2xl font-sans">
        jonnii<span class="text-gray-500">.com</span>
    </span>
    <p>
        Hi, I'm Jonathan Goldman - an <span class="border-b border-dashed">average developer</span> based in NYC.
    </p>
    <ul>
        <li>twitter</li>
        <li>github</li>
        <li>linkedin</li>
    </ul>
</main>